.logo{
    width: 150px;
    height: 150px;
}

.imgcarrusel{
    height: 200px;
}

.imgicono{
    width: 20px;
    height: 20px;
}


/* DETAILS */
.margdetail {

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    width: 80%;
         
  }

  .imgdetail{
    width: 100%;
    height: auto;
    box-shadow: 7px 7px 7px 7px ;
    
    
  }
  
  .espacio {    
    margin-top: 3%;
       }
       #espacio2{
        padding-left: 0%;
       
       }
  
  