/*------------------General-----------------------*/

body{
    min-height: 100vh;
}

.logo{
    width: 150px;
    height: 150px;
}

.imgicono{
    width: 20px;
    height: 20px;
}

.imgcarrusel{
    height: 200px;
}

@media screen and (max-width: 332px) {

    .imgcarrusel{
        height: 230px;
    }
    .logo{
        width: 120px;
        height: 120px;  
    }
}
/*------------------Home-----------------------*/

.imgcard{
    height: 200px;
}

.cards{
    margin-bottom: 10%;
}

@media screen and (max-width: 332px) {
    .imgcard
    {
        height: 150px;
    } 
}

.seemore{
    box-shadow: -4px -2px 15px 1px #000000;
}


